@model PayloadPost.Models.ConfirmEmailViewModel

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Defina uma nova senha</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body bgcolor="#f1f1f1">
    <table id="Table_01" width="520" border="0" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td>
                <img style="display: block" src="https://localhost:44382/images/topo.png" alt="" />
            </td>
        </tr>
        <tr>
            <td style="background-image: url(https://localhost:44382/images/middle.png); background-repeat: repeat-y; text-align: center; padding: 0 60px 30px">

                <p><img style="margin-bottom: 30px" src="../wwwroot/images/ico-alert.png" alt="" /></p>

                <h2 style="font-size: 18px; color: #696969; font-weight: 300; font-family: Arial">Olá, <span style="color: #696969">@Model.CustomerName</span></h2>

                <p style="font-size: 16px; color: #696969; font-family: Arial; margin-bottom: 15px;">
                    Seja muito bem-vindo a @Model.CompanyName!
                </p>

                <p style="font-size: 16px; color: #696969; font-family: Arial; margin-bottom: 30px;">
                    Só falta verificar seu email para que sua conta esteja pronta.
                    Clique no link abaixo para verificar que este é o seu endereço de e-mail.
                </p>

                <p style="font-size: 16px; color: #696969; font-family: Arial; margin-bottom: 30px;">
                    <a href="@Model.ConfirmLink" style="margin: 20px 0;">Confirme seu Email</a>
                </p>

                <p style="font-size: 16px; color: #696969; font-family: Arial; margin-bottom: 30px;">
                    Se você precisar de ajuda ou tiver alguma dúvida, visite nosso <a href="@Model.CompanyContactLink" style="margin: 20px 0;">website</a>.
                </p>

            </td>
        </tr>
        <tr>
            <td style="background-image: url(https://localhost:44382/images/footer.png); background-repeat: no-repeat; text-align: center; height: 105px">
                <p style="font-size: 13px; color: #b8b8b8; font-family: Arial; ">Serviço de Email oferecido por <a href="http://www.PayloadPost.com">PayloadPost</a></p>

                <table align="center" width="150px" style="margin-bottom: 30px;">
                    <tr>
                        <td><a href=""><img src="https://localhost:44382/images/ico-facebook.png" alt="" /></a></td>
                        <td><a href=""><img src="https://localhost:44382/images/ico-instagram.png" alt="" /></a></td>
                        <td><a href=""><img src="https://localhost:44382/images/ico-twitter.png" alt="" /></a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- End Save for Web Slices -->
</body>
</html>